body {
    margin: 0;
    padding: 0;
}

/*---------------------------헤더 영역-------------------------------*/
#header {
    width: 100%;
    height: 100px;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 13;
}

/* header가 스크롤 됐을때의 css */
#header.scrolled {
    background-color: rgba(0, 0, 0, 0.6); /* 투명 */
    backdrop-filter: blur(5px); /* 블러효과 */
}

#header img {
    width: 100px;
    height: 100px;
    text-align: left;
    float: left;
}

#menu h2 {
    color: white;
    float: right;
    font-size: 18px;
    padding-top: 25px;
    padding-right: 20px;
}

#wrapper {
    min-height: 100vh;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 1300px;
    background-color: #ECE8E1;
    position: relative;
    text-align: center;
}

/* 꾸밈 효과인 선을 만들기 위해 가상 요소 선택자를 사용함 */
#container::before,
#container::after {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 100%;
    top: 0;
    background-color: white;
    z-index: 2;
}

/* 꾸밈 효과인 선을 만들기 위해 가상 요소 선택자를 사용함 */
#container::before {
    left: 25%; /* 첫 번째 세로선 위치 */
}

/* 꾸밈 효과인 선을 만들기 위해 가상 요소 선택자를 사용함 */
#container::after {
    left: 38%; /* 두 번째 세로선 위치 */
}

#container .site-logo:nth-child(1) {
    font-size: 250px;
    color: transparent; /* 투명하게 */
    -webkit-text-stroke: 3px rgb(186, 186, 186);
    position: absolute;
    top: -150px;
    left: 300px;
}

#container .site-logo:nth-child(2) {
    font-size: 250px;
    color: transparent; /* 투명하게 */
    -webkit-text-stroke: 3px rgb(186, 186, 186);
    position: absolute;
    top: 50px;
    left: 300px;
}

#container .site-logo:nth-child(3) {
    font-size: 250px;
    color: transparent; /* 투명하게 */
    -webkit-text-stroke: 3px rgb(186, 186, 186);
    position: absolute;
    top: 500px;
    left: 1200px;
}

/*---------------------------섹션 영역-------------------------------*/
#section {
    position: relative;
}

#section h2 {
    margin: 0;
    font-size: 130px;
    padding-top: 150px;
    padding-right: 450px;
}

#image-container {
    padding-left: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 200px;
}

#image-container img {
    width: 600px;
    height: 400px;
}

.slider {
    position: relative;
    display: flex;
    transition: 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    margin-right: 300px;
}

.caption {
    margin-top: -150px;
    margin-left: 450px;
    width: 400px;
    height: 450px;
    background: #FF83A2;
    color: white;
    font-size: 14px;
    /* 좌하단이 접힌 모양의 효과 */
    clip-path: polygon(
        0 0,           /* top-left 좌상단 */
        100% 0,        /* top-right 우상단 */
        100% 100%,     /* bottom-right 우하단 */
        20px 100%,     /* bottom-left 좌하단 */
        0 calc(100% - 20px) /* 좌하단에서 위로 20px 올라간 곳 */
    );
    box-sizing: border-box;     /* padding 포함하여 높이 계산 */
}

.caption-number {
    padding-top: 40px;
    margin-left: -380px;
    font-size: 20px;
    font-weight: bold;
    transform: rotate(-90deg);
    color: white;
}

.caption h3 {
    margin: 20px 0 5px 0;
    font-size: 22px;
    color: white;
}

.caption p {
    margin: 0;
    line-height: 1.4;
}

#button-container {
    position: relative;
    margin-top: -321px;
    margin-left: 3px;
    padding-right: 540px;
    z-index: 13;
}

/*---------------------------푸터 영역-------------------------------*/
#footer {
    width: 100%;
    height: 100px;
    background-color: #ECE8E1;
}

#footer #text_area {
    display: flex; /* 가로 배치 */
    justify-content: center; /* 좌우 중앙 정렬 */
}

#footer h3 {
    font-size: 15px;
    color: #969696;
}

#footer hr {
    height: 2px;
    width: 80%;
    background-color: #969696;
    border: none;
    margin: 0 auto;
}